{% extends "base.html" %}
{% block content %}
    <button type="button" class="btn btn-default" aria-label="Left Align" id="back-home">
      <a href="{{ url_for('home') }}">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
      </span></a>
    </button>

    <input type="text" id="search_box" onkeyup="searchFunction()" placeholder="Search">

    <select onchange="filterByCategory()" id="catpicker">
      <option value="All">All</option>
      {% for title in category_titles %}
        <option value="{{title}}">{{title}}</option>
      {% endfor %}
    </select>
    <select id="subcatpicker"></select>
    <table class="container">
    	<thead>
    		<tr>
          {% for field in fields %}
    			<th><h1>{{field}}</h1></th>
          {% endfor %}
    		</tr>
    	</thead>
    	<tbody>
        {% for group in data %}
            <tr>
            {% for field in fields %}
                <td>{{ group[field] }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    	</tbody>
    </table>
    <script type="text/javascript">
      function searchFunction(){
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchBox");

      }
      function filterByCategory(){
        var categories_hash = {{categories|tojson}};
        var selectCategory = document.getElementById("catpicker");
        var selectSubCategory = document.getElementById("subcatpicker");
        var selected = selectCategory.options[selectCategory.selectedIndex].value;
        while(selectSubCategory.options.length){
          selectSubCategory.remove(0);
        }
        var subCategory = categories_hash[selected];
        if (subCategory){
          var i;
          for (var i = 0; i < subCategory.length; i++) {
            var element = new Option(subCategory[i], i);
            selectSubCategory.options.add(element);
          }
        }
      }
    </script>
{% endblock %}
